*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    rgba(37, 110, 10, 0.846),
    rgba(13, 173, 242, 0.811)
  );
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid black;
  outline: none;
  background-color: rgba(47, 124, 151, 0.856);
}

.calculator-grid > .operation {
  background-color: silver;
}

.calculator-grid > .operation:hover {
  background-color: rgb(192, 182, 48);
}

.calculator-grid > .number-btn {
  background-color: rgba(41, 53, 223, 0.685);
  font-weight: bolder;
}

.calculator-grid > button:hover {
  background-color: #b46060;
}

.span-two {
  grid-column: span 2;
  font-weight: bolder;
}

#delete-btn {
  background-color: rgba(255, 0, 0, 0.657);
  font-weight: bolder;
}

#delete-btn:hover {
  background-color: rgb(255, 102, 0);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.829);
  border: 3px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

#prev-op {
  padding-right: 0.5rem;
  color: rgba(255, 255, 255, 0.651);
  font-size: 1.5rem;
}

#curr-op {
  color: whitesmoke;
  font-size: 4rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#clear-btn {
  background-color: rgba(223, 103, 90, 0.818);
}

#clear-btn:hover {
  background-color: rgba(218, 45, 26, 0.818);
}

#equals-btn {
  background-color: rgba(12, 138, 12, 0.811);
}

#equals-btn:hover {
  background-color: rgba(118, 225, 118, 0.811);
}
